<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script scr="https://fontawesome.com/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header>
        <section class="arriba">
        <span>
            <a href="/home"><img class="logo" src="/images/logo-mercado-liebre.svg"></a>
        </span>
        <span class="buscador">  
            <input class="text" type="search" placeholder="Buscar productos, marcas"><i class="fas sa-search"></i>
        </span>
        <span class="mano">
            <img src="/images/hand-holding-usd-solid.svg" alt="" width="15">
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </span>
        </section>
        <div class="ambas">
        <nav class="lista1">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav class="lista2">
            <ul>
                <li><a class="icono" href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a class="icono" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <a class="icono" href="carro"><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        </div>
        <div class="cajaburger"><a class="burger" href=""><i class="fas fa-bars"></i></a></div>
    </header>
    <main>
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="" width="100%">
        </section>
        <h2>Basado en tu última vista</h2>
        <section>
            <article class="caja">
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                    <div class="cajita">
                        <a class="truck" href=""><i class="fas fa-truck"></i></a>
                        <span class="precio">$6.770</span>
                        <span class="off">40% off</span>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>                              
            </article>
            <article class="caja">
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$230.000</span>
                    <span class="off">20% off</span>
                    <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </div>                              
            </article>
            <article class="caja">
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$70.500</span>
                    <span class="off">10% off</span>
                    <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>                              
            </article>
            <article class="caja">
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$23.200</span>
                    <span class="off">5% off</span>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </div>                              
            </article>
        </section>
        <h2>Ofertas</h2>
        <section>
            <article class="caja">
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$6.770</span>
                    <span class="off">40% off</span>
                    <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>                              
            </article>
            <article class="caja">
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$230.000</span>
                    <span class="off">20% off</span>
                    <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </div>                              
            </article>
            <article class="caja">
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$70.500</span>
                    <span class="off">10% off</span>
                    <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>                              
            </article>
            <article class="caja">
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
                    <div class="cajita">
                    <a class="truck" href=""><i class="fas fa-truck"></i></a>
                    <span class="precio">$23.200</span>
                    <span class="off">5% off</span>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </div>                              
            </article>
        </section>
    </main>
    <footer>
        <section>
            <a class="seg" href=""><i class="fas fa-credit-card"></i></a>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <a class="seg" href=""><i class="fas fa-gift"></i></a>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <a class="seg" href=""><i class="fas fa-user-shield"></i></a>
            <h4>Seguridad, de principio a fin</h4>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
         <div class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
</body>

</html>