<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script scr="https://fontawesome.com/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header>
        <section class="arriba">
        <span>
            <a href="/home"><img class="logo" src="/images/logo-mercado-liebre.svg"></a>
        </span>
        <span>  
            <img class="buscador" src="/images/buscador.PNG" alt="">
        </span>
        <span class="mano">
            <img src="/images/hand-holding-usd-solid.svg" alt="" width="15">
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </span>
        </section>
        <div class="ambas">
        <nav class="lista1">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav class="lista2">
            <ul>
                <li><a class="icono" href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a class="icono" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <a class="icono" href="carro"><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        </div>
        <div class="cajaburger"><a class="burger" href=""><i class="fas fa-bars"></i></a></div>
    </header>
    <main class="login">
        <form action="">
            <div class="box-form">
                <input type="email" name="email" id="email" placeholder="Nombre de usuario">
            </div>
            <div class="box-form">
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña">
            </div>
            <small>La combinación ingresada de email y contraseña no es válida</small>
            <div class="box-button">
                <button type="submit"><a href="/home">Enviar </a></button>
            </div>
        </form>
    </main>
    <footer>
        <section>
            <a class="seg" href=""><i class="fas fa-credit-card"></i></a>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <a class="seg" href=""><i class="fas fa-gift"></i></a>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <a class="seg" href=""><i class="fas fa-user-shield"></i></a>
            <h4>Seguridad, de principio a fin</h4>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
         <div class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
</body>
</html>